extends layout

//- count i is not used 

block content
    h1.
        Jade - User List
    ul
        each user, i in userlist
            li
                a(href="mailto:#{user.email}")= user.username
